@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,100,100italic,300italic,400italic,500,500italic,700italic,900);
.padding-none-top {
  padding-top: 0;
}
.padding-none-bottom {
  padding-bottom: 0;
}
.padding-none-left {
  padding-left: 0;
}
.padding-none-right {
  padding-right: 0;
}
.padding-none {
  padding: 0;
}
.border-none-top {
  border-top: 0;
}
.border-none-bottom {
  border-bottom: 0;
}
.border-none-left {
  border-left: 0;
}
.border-none-right {
  border-right: 0;
}
.border-none {
  border: 0;
}
.margin-none-top {
  margin-top: 0;
}
.margin-none-bottom {
  margin-bottom: 0;
}
.margin-none-left {
  margin-left: 0;
}
.margin-none-right {
  margin-right: 0;
}
.margin-none {
  margin: 0;
}
.padding-small-top {
  padding-top: 6px;
}
.padding-small-bottom {
  padding-bottom: 6px;
}
.padding-small-left {
  padding-left: 6px;
}
.padding-small-right {
  padding-right: 6px;
}
.padding-small {
  padding: 6px;
}
.border-small-top {
  border-top: 1px;
}
.border-small-bottom {
  border-bottom: 1px;
}
.border-small-left {
  border-left: 1px;
}
.border-small-right {
  border-right: 1px;
}
.border-small {
  border: 1px;
}
.margin-small-top {
  margin-top: 15px;
}
.margin-small-bottom {
  margin-bottom: 15px;
}
.margin-small-left {
  margin-left: 15px;
}
.margin-small-right {
  margin-right: 15px;
}
.margin-small {
  margin: 15px;
}
.padding-middle-top {
  padding-top: 12px;
}
.padding-middle-bottom {
  padding-bottom: 12px;
}
.padding-middle-left {
  padding-left: 12px;
}
.padding-middle-right {
  padding-right: 12px;
}
.padding-middle {
  padding: 12px;
}
.border-middle-top {
  border-top: 2px;
}
.border-middle-bottom {
  border-bottom: 2px;
}
.border-middle-left {
  border-left: 2px;
}
.border-middle-right {
  border-right: 2px;
}
.border-middle {
  border: 2px;
}
.margin-middle-top {
  margin-top: 30px;
}
.margin-middle-bottom {
  margin-bottom: 30px;
}
.margin-middle-left {
  margin-left: 30px;
}
.margin-middle-right {
  margin-right: 30px;
}
.margin-middle {
  margin: 30px;
}
.padding-large-top {
  padding-top: 20px;
}
.padding-large-bottom {
  padding-bottom: 20px;
}
.padding-large-left {
  padding-left: 20px;
}
.padding-large-right {
  padding-right: 20px;
}
.padding-large {
  padding: 20px;
}
.border-large-top {
  border-top: 3px;
}
.border-large-bottom {
  border-bottom: 3px;
}
.border-large-left {
  border-left: 3px;
}
.border-large-right {
  border-right: 3px;
}
.border-large {
  border: 3px;
}
.margin-large-top {
  margin-top: 60px;
}
.margin-large-bottom {
  margin-bottom: 60px;
}
.margin-large-left {
  margin-left: 60px;
}
.margin-large-right {
  margin-right: 60px;
}
.margin-large {
  margin: 60px;
}
.padding-xxlarge-top {
  padding-top: 69.9px;
}
.padding-xxlarge-bottom {
  padding-bottom: 69.9px;
}
.padding-xxlarge-left {
  padding-left: 69.9px;
}
.padding-xxlarge-right {
  padding-right: 69.9px;
}
.padding-xxlarge {
  padding: 69.9px;
}
.margin-xxlarge-top {
  margin-top: 69.9px;
}
.margin-xxlarge-bottom {
  margin-bottom: 69.9px;
}
.margin-xxlarge-left {
  margin-left: 69.9px;
}
.margin-xxlarge-right {
  margin-right: 69.9px;
}
.margin-xxlarge {
  margin: 69.9px;
}
@media (max-width: 767px) {
  .margin-large-top {
    margin-top: 30px;
  }
  .margin-large-bottom {
    margin-bottom: 30px;
  }
  .margin-large-left {
    margin-left: 30px;
  }
  .margin-large-right {
    margin-right: 30px;
  }
  .margin-large {
    margin: 30px;
  }
  .padding-xxlarge-top {
    padding-top: 39.9px;
  }
  .padding-xxlarge-bottom {
    padding-bottom: 39.9px;
  }
  .padding-xxlarge-left {
    padding-left: 39.9px;
  }
  .padding-xxlarge-right {
    padding-right: 39.9px;
  }
  .padding-xxlarge {
    padding: 39.9px;
  }
  .margin-xxlarge-top {
    margin-top: 39.9px;
  }
  .margin-xxlarge-bottom {
    margin-bottom: 39.9px;
  }
  .margin-xxlarge-left {
    margin-left: 39.9px;
  }
  .margin-xxlarge-right {
    margin-right: 39.9px;
  }
  .margin-xxlarge {
    margin: 39.9px;
  }
}
/* Creatin Box-Shadow */
/* Creating Borders */
html,
body {
  height: 100%;
}
main {
  min-height: 6000px;
}
.block {
  position: relative;
}
.block-top,
.block-middle,
.block-bottom {
  position: fixed;
  height: 100px;
  width: 100px;
}
.block-top {
  top: 0;
  left: 0;
  background-color: blue;
}
.block-middle {
  top: 100px;
  right: 0;
  background-color: red;
}
.block-bottom {
  top: 200px;
  left: 0;
  background-color: green;
}
