.jumbotron
  .container
    .row
      .col-md-12
        h1 Change on scroll
        p.lead jQuery Plugin to change integer CSS Properties while scrolling
        a.btn.btn-primary.btn-lg(href='#' role='button') Learn more
