//- test.jade
extends ../Layouts/Default.jade

block Vars
  - var sub = false
  - var page = {title: 'Page Title', name: 'Start', url: '/', parent: '', index: true}

block main
  div.block.block-top(data-spy="scroller" data-style="top,left,height,width" data-start="100,100,100,100" data-end="1200,1200,500,500" data-reverse="0" data-faktor="1" data-top="100" data-bottom="1000") 
  div.block.block-middle(data-spy="scroller" data-style="right,height,width" data-start="100,100,100" data-end="1000,400,600" data-reverse="0" data-faktor="1" data-top="100" data-bottom="1000") 
  div.block.block-bottom(data-spy="scroller" data-style="left" data-start="100" data-end="1000"  data-reverse="0" data-faktor="1" data-top="100" data-bottom="1000") 
