doctype html
html(lang='en')

  block defaultVars
    include ../Configuration/Defaults.jade
  block Vars

  head
    block head
      //- Include <HEAD></HEAD>
      include ../Partials/Head.jade
  
  if page.name == 'Start'
    - var subclass = ''
  else
    - var subclass = 'sub' 
  
  body(data-spy="scroll" data-target="#sticky-nav" class=subclass)
    .inidcator.top(style="position: absolute; height: 1px; width: 100%; background-color: blue; z-index:5000;")
    .inidcator.bottom(style="position: absolute; height: 1px; width: 100%; background-color: yellow; z-index: 5000")
    // START <header>
    header
      block header
        //- Include Navbar-default
        include ../Partials/PageParts/Header/Navigation.jade
        if page.name == 'Start'
          include ../Partials/PageParts/Header/Jumbotron.jade
    // END </header>
    // START <main>
    main
      block main
    //END </main>
       
    block footer
      //- Include Navbar-default
      include ../Partials/PageParts/Footer/Footer.jade

    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")
      script(src="http://code.jquery.com/color/jquery.color.plus-names-2.1.2.min.js")
      script(src="js/jQuery.changeonscroll.js")
      script(type="text/javascript").
        jQuery(window).on('load', function(){
          jQuery('#sticky-nav').affix({
            offset : {
              top: function(){
                return(this.top = jQuery('#jumbotron').outerHeight() )
              }
            }
          })
        })
